/* Header */

header {
  background-image: url('../img/background.png');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 600px;
}


/* Navbar */
.navbar-nav {
  font-family: "AtlasGrotesk", sans-serif;
  font-size: 15px;
  color: #ffffff;
}

.navbar-brand {
  width: 100px;
  height: 50px;
}

#navSignIn {
  outline-color: #5ecb71;
  color: #5ecb71;
  font-family: "AtlasGrotesk", sans-serif;
  font-size: 15px;
  border-radius: 0;
}


/* Hero */

#hero .btn {
  color: #ffffff;
  background-color: #5ecb71;
  border-radius: 0;
}
