html, p {
  font-family: "AtlasGrotesk", sans-serif;
}


/* Header */

header {
  background-image: url('../img/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* Navbar */
.navbar-nav a {
  font-family: "AtlasGrotesk", sans-serif;
  font-size: 15px;
  color: #ffffff;
}

.navbar-brand img {
  width: 350px;
  height: 65px;
}

#navSignIn {
  outline-color: #5ecb71;
  color: #5ecb71;
  font-family: "AtlasGrotesk", sans-serif;
  font-size: 15px;
  border-radius: 0;
  text-decoration: none;
}

/* Hero */
#hero .btn {
  color: #ffffff;
  background-color: #5ecb71;
  border-radius: 0;
}

/* Asset */
#assets h3 {
  color: #5ecb71;
}

#assets p .lead {
  color: #6c757d;
}

#assets img {
  height: 20px;
  width: 20px;
  align-items: flex-start;
}

#assets p {
  color: #6c757d;
  align-content: flex-end;
}
